* {
  background: black;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}

p {
  padding-left: 100px;
  padding-right: 100px;
}

h2, h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.nav a:hover {
  color: #e62b1e;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.bigpictureoftheTianMing {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
/* make it prettyyyyyyy */
