* {
  font-family: "Arial", sans-serif;
  line-height: 2;
}

body {
  background-color: black !important;
}

.nav {
  background-color: black;
}

.nav a {
  text-align: center;
}

footer {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
}

footer div {
  margin-bottom: 20px;
}

.content {
  padding: 50px 100px;
  background-color: black;
  color: white;
  font-size:; 
}

.content p {
  margin: 20px 0;
}

.content p a {
  color: white;
  text-decoration: underline;
}

.heading {
  font-weight: bold;
}

.poster {
  background-image: url(photos/tedxposterhighres.png);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 57vw;
}

.tedxLink {
  color: #e62b1e;
}

.tedxLink:hover {
  color: #e62b1e;
}

#aboutPage {
  text-align: center;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: white;
  height: 1px;
}

.teamCarousel {
  margin: auto;
}

.col-md-4.speakerbox {
  padding: 20px 30px;
}

.speakerimg {
  border-radius: 8px;
  width: 100%;
}