* {
  background: black;
  color: white;
  font-family: "Arial", sans-serif;
}

.nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bigpictureoftheTianMing {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
/* make it prettyyyyyyy */
