* {
  font-family: "Arial", sans-serif;
  line-height: 2;
}

body {
  background-color: black !important;
}

.nav {
  background-color: black;
}

.nav a {
  text-align: center;
}

footer {
  position: relative;
  width: 100%;
  padding: 0 50px 50px 50px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
}

.content {
  padding: 50px 100px;
  background-color: black;
  color: white;
  font-size:; 
}

#aboutPage {
  text-align: center;
}

.content p {
  margin: 20px 0;
}

.content p a {
  color: white;
  text-decoration: underline;
}

.heading {
  font-weight: bold;
}

.tedxLink {
  color: #e62b1e;
}

.tedxLink:hover {
  color: #e62b1e;
}

.poster {
  background-image: url(photos/tedxposterhighres.png);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 57vw;
}

.col-md-4.speakerbox {
  padding: 20px 30px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: white;
  height: 1px;
}

.speakerimg {
  border-radius: 8px;
  width: 100%;
}
/* can't figure out how to centre it when the screen is larger than the img
.carousel-item {
  max-width: 1100px;
}
*/
.teamCarousel {
  margin: auto;
}

.nico img {
  width: 25%;
  border-radius: 8px;
}

figcaption {
  padding-bottom: 15px;
}

.button {
  border-radius: 8px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.speakerimg {
  border-radius: 8px;
  width: 100%;
}

/* make it prettyyyyyyy */

/* Slideshow container */
.slideshow-container {
  min-width: 1250px;
  position: static;
  /* margin: auto; */
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: static;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
*/

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
